#store-name{
  color: white;
  text-align:center;
}

#all-pets{
text-align: center;
}


body{
	background-color:teal;
	text-align:center;

}



img{
	max-height: 300px;
	width: 500px;
	display: block;
	margin: auto;
}



div.Individual-pet {
	background-color:tomato;
	color:black;
	font-size:140%;
	font-family: Times New Roman;
	height:600px;
	Width:1000px;
	text-align:center;
	margin: auto;
	border:5px solid black;
}


